<center>
    <div class="d-inline-flex mt-5"> <section class="p-5">
<div class="Fields">
<div>
<div class="formContainer">
<form action="/placeorder" method="POST">
<div class="Fields">
<div>
<h3>Billing Address</h3>
<label for="fname">Full Name</label>
<input type="text" id="fname" name="firstname" required/>

<label for="adr"> Address</label>
<input type="text" id="adr" name="address" required/>
</div>
<div class="contact">
    <h3>Contact Details</h3>
<label for="phone">Phone Number</label>
<input type="text" id="phone" name="phone" required />
<label for="email"> Email</label>
<input type="text" id="email" name="email" required/>
</div>
<div>
  <br>
<input type="radio" id="cod" name="payment" value="cod">
<label for="cod">Cash On Delivery</label>
<input type="radio" id="online" name="payment" value="online">
<label for="online">Online Payment</label>
</div>
</div>

<input
type="submit"
value="Continue to checkout"
class="checkout"
/>
</form>
</div>
</div>
<div>
</div>
</div>
</section>
    </div>
</center>
<style>
    * {
  box-sizing: border-box;
}
.Fields {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.Fields div {
  margin-right: 10px;
}
label {
  margin: 15px;
}
.formContainer {
  margin: 10px;
  background-color: #efffc9;
  padding: 5px 20px 15px 20px;
  border: 1px solid rgb(191, 246, 250);
  border-radius: 3px;
}
input[type="text"] {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-left: 20px;
  display: block;
}
.icon-formContainer {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.checkout {
  background-color: #1f8ab5;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.checkout:hover {
  background-color: #45a049;
}
a {
  color: black;
}
span.price {
  float: right;
  color: grey;
}
@media (max-width: 800px) {
.Fields {
  flex-direction: column;
}
}



</style>