<center>
    <div class="d-inline-flex mt-5"> <section class="p-5">
<div class="Fields">
<div>
<div class="formContainer">
<form action="/placeorder" method="POST">
<div class="Fields">
<div>
<h3>Billing Address</h3>
<label for="firstname">Full Name</label>
<input type="text" id="fname" name="firstname" required/>

<label for="adress"> Address</label>
<input type="text" id="adr" name="address" required/>

<label for="pincode"> Pin Code</label>
<input type="text" id="pincode" name="pincode" required/>
</div>
<div class="contact">
    <h3>Contact Details</h3>
<label for="phone">Phone Number</label>
<input type="text" id="phone" name="phone" required/>
<label for="email"> Email</label>
<input type="text" id="email" name="email" required/>
</div>
</div>
<div>
<input type="radio" id="cod" name="payment" value="cod" onclick="myFunction()">
<label for="cod">Cash On Delivery</label>
<p id="text" style="display:none;colour:red">Cash On Delivery includes Rs.20 Postal Charge!</p>
<input type="radio" id="online" name="payment" value="online" onclick="myFunction()">
<label for="online">Online Payment</label>
</div>

<form id="payment"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GNf8nG1QLxAgDr"> </script> </form>
</div>

<input type="submit" value="Continue to checkout" id="submit" class="checkout" style="display:none;"/>

</section>
</form>
</div>
</div>
<div>
</div>
</div></section>

    </div>
</center>
<script>
function myFunction() {
  var checkBox = document.getElementById("cod");
  var text = document.getElementById("text");
  var payment =document.getElementById("payment")
  var submit=document.getElementById("submit")
  if (cod.checked == true){
    text.style.display = "block";
    submit.style.display="block";
    payment.style.display="none";
  } else if(online.checked== true){
    text.style.display = "none";
    submit.style.display="none";
    payment.style.display="block";
    }else{
     text.style.display = "none";
  }
}

</script>
<style>
    * {
  box-sizing: border-box;
}
.Fields {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.Fields div {
  margin-right: 10px;
}
label {
  margin: 15px;
}
.formContainer {
  margin: 10px;
  background-color: #efffc9;
  padding: 5px 20px 15px 20px;
  border: 1px solid rgb(191, 246, 250);
  border-radius: 3px;
}
input[type="text"] {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-left: 20px;
  display: block;
}
.icon-formContainer {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.checkout {
  background-color: #1f8ab5;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.checkout:hover {
  background-color: #45a049;
}
a {
  color: black;
}
span.price {
  float: right;
  color: grey;
}
@media (max-width: 800px) {
.Fields {
  flex-direction: column;
}
}



</style>