<div class="d-inline-flex mt-5"> <section class="p-5">
<form action="/makedelivery">
<input type="text" placeholder="Name" name="name"><br>
<input type="text" placeholder="Name" name="name"><br>
<input type="text" placeholder="Name" name="name"><br>
<input type="text" placeholder="Name" name="name"><br>
<input type="text" placeholder="Name" name="name"><br>
</form>
</section>
</div>