
<center>
<div class="d-inline-flex mt-5"> <section class="p-5">
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="/images/pic.jpg" alt="Card image cap">
            <center><div class="card-body">
                <h5 class="card-title">Aarachar</h5>
                <p class="card-text">Written By: K R Meera</p>
                <p class="card-text">Category : Stories</p>
                <code style="background: #fff; padding: 0.2rem; border-radius: 0.2rem; margin: 0 0.3rem;">Rs.80.00/-</code><br>
                <a href="/cod"><button class="button button2">Buy Now</button></a>
            </center>
  
     </div> </section>
</div>
<br>

    <a href="#" style="color: white">Not Delivered the book yet?<br> Report Here!!</a><br><br><br>
       
</center>
<style>
    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
</style>