
<center>
<div class="d-inline-flex mt-5"> <section class="p-5">
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="/images/pic.jpg" alt="Card image cap">
            <center><div class="card-body">
                <h5 class="card-title">Aarachar</h5>
                <p class="card-text">Written By: K R Meera</p>
                <p class="card-text">Category : Stories</p>
                <code style="background: #fff; padding: 0.2rem; border-radius: 0.2rem; margin: 0 0.3rem;">Rs.80.00/-</code><br>
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GNf8nG1QLxAgDr"> </script> </form>
               <a href="/cod"> <p>Not interested in online banking?<br>Try cash on Delivery now!</p></a>
            </center>
  
     </div> </section>
</div>
<br>

    <a href="#" style="color: white">Not Delivered the book yet?<br> Report Here!!</a><br><br><br>
 <div class="footer" style="color: white;">
        <div class="col-footer col-md-4 col-xs-6">
            <h5>Contact</h5>
                <p class="contact-us-details">
                Email: <a href="mailto:jagalsree007@gmail.com" style="color: white">jagalsree007@gmail.com</a>
                </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2020 Jagal R Nath.<br> All rights reserved.</div>
            </div>
        </div>
</div>
</center>
